*.swp
.DS_Store
.augment/rules/byterover-rules.md
.bash_history
.cache/
.clinerules/byterover-rules.md
.cursor
.cursor/rules/byterover-rules.mdc
.env
.firebase
.firebaserc
.kilocode/rules/byterover-rules.md
.kiro/steering/byterover-rules.md
.node-gyp/
.pm2
.qoder/rules/byterover-rules.md
.roo/rules/byterover-rules.md
.snowpack
.venv/
.windsurf/rules/byterover-rules.md
Thumbs.db
To-Do.md
agents.md
build
node_modules
src/.DS_Store
src/public/.DS_Store
src/public/styles/.DS_Store
styles/.DS_Store